.logo {
  color: rgba(0, 0, 0, 1);

  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;

  &__accent-color {
    color: var(--accent-color);
  }
}
